body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2f2f2;
}

.pointer{
    cursor: pointer;
}

.pull-right{
    float: right !important;
}

.pull-left{
    float: left !important;
}

li{
    list-style: none;
}

#wrap{
    position: relative;
    padding: 0px auto;
    height: 100%;
}

/* MENU */

.sidebar{
    width: 22%;
    top: 0px;
    height: 100%;
    position: fixed;
    float: left;
    background: #24282f;
    color: rgba(255,255,255,0.7);
    padding: 5px 10px 5px 15px;
}

.sidebar .table{
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.sidebar .table{
    display: table;
}

.sidebar .row{
    display: table-row;
}

.sidebar .collections-list{
    height: 100%;
}

.nav{
    width: 100%;
    padding: 5px;
}

#logo{
    height: 35px;
}

#nav{
    padding-top: 8px;
    font-size: 16px;
}

.tags-title{
    padding: 5px;
    color: rgba(255,255,255,0.8);
}

.tags-list{
    height: 100%;
    overflow: visible;
    position: relative;
    width: 100%;
}

.tags-list .tags-list-content{
    bottom: 0;
    left: 0;
    margin-left: -8px;
    margin-right: -8px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
}

#tags-list-ul li{
    padding: 2px;
}

#tags-list li:hover{
    cursor: pointer;
}

#tags-list-ul a{
     color: #A0A5AE;
     text-decoration: none;
}

#tags-list-ul a:hover{
     color: #fff;
}

.tag-label{
    padding: 0px 5px;
}

.tag-nb-links{
    margin-right: 4px;
}

.tag-edit{
    visibility: hidden;
    right: 6px;
    position: absolute;
    background-color: #F7931D;
    color:white;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
}

#tags-list li:hover > a{
    display: block; 
}

#tags-list li:hover > a > .tag-nb-links{
    visibility: hidden;
}

#tags-list li:hover > a >.tag-edit{
    visibility: visible;
}

.tags-active{
    color: white;
}

.footer{
    padding: 4px 5px;
    bottom: 0px;
}

/* TOOLBAR */

.tool-bar{
    width: 100%;
    padding: 12px 10px 5px;
}

#search-bar{
    padding-bottom: 5px;
}

#search-bar{
    margin-bottom: 5px;
    width: 100%;
    height: 28px;
    background-color: #E5E5E5;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}

#search-bar-tag{
    padding: 4px 10px 0px 5px;
    float: left;
    color: #27AE60;
}

#search-bar-tag a{
    padding: 2px 4px 2px 4px;
    color: rgba(0,0,0,0.3);
}
#search-bar-tag a:hover{
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    border-radius: 5px;
}

.search-input{
    height: 22px;
    position: relative;
    background-color: #E5E5E5;
    border: 0px;
    padding: 5px 2px 2px 2px;
    outline: none;
}

#search-bar-form:focus{
    background-color: white;
}

#edit-tag a{
    color: #333;
    padding-right: 10px;
}

#header{
    margin-top: 50px;
}

#dropdown-account{
    padding-right: 10px;
}

#navigation li{
    display: inline-block
}

#addlink a{
    color: #333;
    padding-right: 10px;
}
#nbLinks{
    float: right;
    color : #999;
}
#nbTags{
    text-align: right;
    color : #999;
}

.empty-result{
    text-align: center;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Login */

#login {
    background-color: #24282F;
    text-align: center;
    color: white;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}

.table{
    display: table;
}

form .table{
    width: 100%;
    margin-top: 10px;
}

.table-center{
    width: 100%;
    height: 100%;
}

.cell {
    display: table-cell;
}

.row{
    display: table-row;
}

.table-center > .cell {
    text-align: center;
    vertical-align: middle;
}

.center-block{
    display: inline-block;
    min-width: 30%;
    margin: 0px auto;
    position: relative;
    /*background-color: white;*/
    margin-top: 10%;
    /*border: 1px solid #d8d8d8;*/
    padding: 15px;
}

.img-center{
    text-align: center;
    padding: 5px;
}

/* MODAL */

#modal-helper{
    position: fixed;
    width: 100%;
    padding: 15px 15px;
    z-index: 10;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    color: white;
    display: none;
    text-align: center;
    font-weight: bold;
}

.modal-helper-green{
    background-color: #27ae60;
}

.modal-helper-blue{
    background-color: #3498db;
}

.modal-helper-red{
    background-color: #e74c3c;
}

.paging{
    background-color: #2A72AD;
    text-align: center;
    color: #ededed;
    height: 24px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    margin: 5px 10px;
    padding-top: 2px;
}

.paging a{
    text-decoration: none;
    color: #ededed;
}

.paging:hover{
    background-color: #2980b9;
}

.wrap{
    width: 78%;
    position: absolute;
    height: 100%;
    right: 0px;
    z-index: -1;
    padding: 15px;
}

#links{
    padding: 0px;
}

.wrap ul li{
    padding: 2px 10px;
}

.link{
    word-wrap: break-word;
    padding: 8px;
    border: 1px solid #d8d8d8;
    -moz-border-radius:3px;
    border-radius:3px;
    background-color:#fff;
    border-bottom-width: 1px;
}

h4 > a{
    color: #3c4852;
}

.link-description{
    font-size: 0.9em;
    color: #333;
}

.link-description-second{
    font-size: 0.9em; 
    color: #708090;
}

.link-description-second a{
    color: #4682B4;
}

.tags{
    padding: 2px 0px;
}
.a-tag{
    color: #fff;
}

.nbLinksByTag{
    color: #FF8C00;
}

.link-tools{
    position: absolute;
    right: 26px;
    opacity: 0;
}

.link:hover > .link-tools{
    opacity: 1;
    right: 18px;
    transition: opacity 0.1s linear 0s, right 0.1s linear 0s;
}

.link-tools a{
    color: #fff;
}

#tags{
    text-align: center;
}

#footer {
    color: #999;
    padding: 150px;
    bottom: 0px;
    height: 100%;
}

.helper{
    padding: 10px 15px;
}

#tools{
    padding: 10px 8px;
}
.tool-body{
    padding: 10px 0px;
}

.legend{
    color:#708090;
    padding: 5px 0px;
}

.users{
    padding-top: 10px;
}

.search-users{
    padding-top: 10px;
}

/* bootstrap modifications*/
.navbar-inverse{
    background-color: #323132;
    border: none;
    box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.15)
}
.navbar-brand{
    padding: 10px 0px;
}
.label{
    border-radius: 0px;
    opacity: 0.9;
    font-weight: normal;
    font-size: 0.85em;
}

.glyphicon{
    font-size: 13px;
}
.glyphicon{
    opacity: 0.8;
}

.active{
    border-bottom: 2px solid orange;
}
.navbar-inverse .navbar-nav > .active > a{
    background-color: #222;
}
.saved-link{
    font-size: 18px;
}

.col-lg-4{
    padding-left: 0px;
}

/* tagging plugin */

/* Tagging Basic Style */
.tagging {
    border: 1px solid #CCCCCC;
    cursor: text;
    font-size: 1em;
    height: auto;
    padding: 10px 10px 15px;
}

.tag a {
    color: white;
}

.tag {
    background: #F7931D;
    border-radius: 5px;
    color: white;
    cursor: default;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding: 4px 20px 4px 0;
    margin: 5px 5px 0 0;
}

.tag-list {
    padding: 4px 10px 4px 0;
}

.tag span {
    padding: 5px 5px 5px;
}

.tag .tag-i {
    color: white;
    cursor: pointer;
    font-size: 1.3em;
    height: 0;
    line-height: 0.1em;
    position: absolute;
    right: 5px;
    top: 0.7em;
    text-align: center;
    width: 10px;
}

.tag .tag-i:hover {
    color: #d35400;
    text-decoration: underline;
}

.type-zone {
    border: 0 none;
    height: auto;
    width: auto;
    min-width: 20px;
    display: inline-block;
}

.type-zone:focus {
    outline: none;
}