body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

#header{
    margin-top: 50px;
}

#dropdown-account{
    padding-right: 10px;
}

#navigation li{
    display: inline-block
}

#addlink{
    background-color: #3d3d3d;
    padding: 0.5em;
}
#addlink a{
    color: #fff;
}
#nbLinks{
    float: right;
    color : #999;
}

.paging, .paging a{
    background-color: #2A72B0;
    text-align: center;
    color: #ededed;
}

#links > ul > li{
    border-top: 1px solid #999;
    padding: 1em 1em 1em 1em;
}

.link{
    word-wrap: break-word;
}

.link-description{
    font-size: 0.9em;
    color: #999;
}

.link-description-second{
    font-size: 0.9em; 
    color: #708090;
}

.link-description-second a{
    color: #4682B4;
}

.tags{
    padding: 0.2em 0em 0.2em 0em;
}

.link-tools a{
    color: #fff;
}

#tags{

}

#footer {
    border-top: 1px solid #999;
    padding: 0.5em;
    text-align: center;
    color: #999;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}

.helper{
    padding: 10px 15px;
}

/* bootstrap modifications*/
.label{
    border-radius: 0px;
    opacity: 0.9;
    font-weight: normal;
    font-size: 0.85em;
}