body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2f2f2;
}

li{
    list-style: none;
}

#header{
    margin-top: 50px;
}

#dropdown-account{
    padding-right: 10px;
}

#navigation li{
    display: inline-block
}

#addlink{
    background-color: #3d3d3d;
    padding: 0.5em;
}
#addlink a{
    color: #fff;
    padding-right: 10px;
}
#nbLinks{
    float: right;
    color : #999;
}
#nbTags{
    text-align: right;
    color : #999;
}

.nolinks{
    text-align: center;
}

.paging, .paging a{
    background-color: #2A72AD;
    text-align: center;
    color: #ededed;
    height: 20px;
}
#account{
    padding-bottom: 10px;
}
#tags, #account{
    background-color: #fff;
}
#links{
    background-color: #e5e5e5;
}

#links > ul > li{
    /*border-top: 1px solid #999;*/
    padding: 5px 10px;
}

.link{
    word-wrap: break-word;
    padding: 8px;
    border:1px solid #d8d8d8;
    -moz-border-radius:3px;
    border-radius:3px;
    background-color:#fff;
    border-bottom-width:2px;
}

h3 > a{
    color: #3c4852;
}

.link-description{
    font-size: 0.9em;
    color: #333;
}

.link-description-second{
    font-size: 0.9em; 
    color: #708090;
}

.link-description-second a{
    color: #4682B4;
}

.tags{
    padding: 2px 0px;
}
.nbLinksByTag{
    color: #FF8C00;
}
.link-tools a{
    color: #fff;
}

#tags{
    text-align: center;
}

#footer {
   /* border-top: 1px solid #999;*/
    padding: 0.5em;
    text-align: center;
    color: #999;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}

.helper{
    padding: 10px 15px;
}

/* bootstrap modifications*/
.navbar-inverse{
    background-color: #323132;
    border: none;
}
.navbar-brand{
    padding: 5px 0px 5px 0px;
}
.label{
    border-radius: 0px;
    opacity: 0.9;
    font-weight: normal;
    font-size: 0.85em;
}

.glyphicon{
    font-size: 13px;
}
.glyphicon{
    opacity: 0.8;
}